<div id="post-<%= post.id %>" class="panel panel-default">
  <div class="panel-heading">
    <%= post.user.display_name %>
  </div>
  <div class="panel-body">
    <span id="post-thumbsup-<%= post.id %>" class="label label-success"><%= post.likes.count %>👍</span>
    <%= post.content %>


  <div class="text-right">

    <% if current_user #登录才可以收藏 %>
      <% if post.find_collect(current_user) %>
        <%= link_to "取消收藏", uncollect_post_path(post), :method => :post, :class => "btn btn-primary" %>
      <% else %>
        <%= link_to "❤️", collect_post_path(post), :method => :post, :class => "btn btn-primary" %>
      <% end %>
    <% end %>
    
    <span id="post-like-<%= post.id %>">
      <%= render :partial => "like", :locals => { :post => post} %>
    </span>


    <% if current_user && post.user == current_user %>
      <p class="text-right">
        <%= link_to "Delete", post_path(post), :method => :delete, :class => "btn btn-danger", :remote => true %>
      </p>
    <% end %>
  </div>
  </div>
</div>
